.category {
    padding-top: 132px;
    padding-bottom: 144px;
    background-color: $text-color;
    &__container {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: fit-content;
        gap: 75px;
    }
    &__info {
        display: flex;
        justify-content: space-between;
        align-items: last baseline;
        max-width: 1130px;
    }
    &__group {
        h3 {
            @include h3(36px, $white, start);
            margin-bottom: 20px;
        }
        p {
            @include p(19px, $white, start);
        }
    }
    &__btn {
        display: flex;
        gap: 2px;
        align-items: center;
        transition: all 0.3s ease;
        &:hover i {
            transform: translate(5px);
            color: $green;
        }

        button {
            border: none;
            background-color: $text-color;
            font-size: 17px;
            font-weight: 600;
            color: $white;
            cursor: pointer;
            transition: all 0.3s ease;
            &:hover {
                color: $green;
            }
        }

        i {
            size: 10px;
            color: $white;
            transition: all 0.3s ease;
            &:hover {
                color: $green;
            }
        }

    }
    &__list {
        display: inline-grid;
        grid-template-columns: repeat(3, 350px);
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 30px;
        grid-column-gap: 40px;
        &__item {
            padding: 26px 32px;
            max-width: 350px;
            background-color: $white;
            border-radius: 10px;
            transition: all 0.3s ease;
            cursor: pointer;
            &:hover {
                background-color: $blue;
                transform: translateY(-5px);
                h3 {
                    color: $white;
                }
                p {
                    color: $white;
                }
                &::before {
                    position: absolute;
                    content: url(/assets/icons/Oval.svg);
                    top: 39px;
                    left: 280px;
                    transition: all 0.3s ease;
                }
                &::after {
                    position: absolute;
                    content: url(/assets/icons/tail-right-black.svg);
                    top: 50px;
                    left: 292px;
                    transition: all 0.3s ease;
                }
            }
            h3 {
              @include h3(21px, $text-color, start);
            }
            p {
                margin-top: 5px;
                @include p(15px, $text-color, start);
            }
        }
    }
}
