.content {
    padding-top: 113px;
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 116px;
        width: 100%;
        padding-bottom: 116px;
        border-bottom: 2px solid $gray;
    }

    &__title {
        h3 {
            @include h3(36px, $text-color, center);
            margin-bottom: 17px;
        }
        p {
            @include p(19px, $text-color, center);
            margin-bottom: 86px;
        }
    }
    &__main {
        width: fit-content;
        display: flex;
        gap: 90px;
        align-items: center;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 50px;
        &__container {
            display: flex;
            gap: 22px;
        }

        &__number {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 43px;
            width: 43px;
            border-radius: 50%;
            background-color: $blue;
            color: $white;
            font-size: 17px;
            font-weight: 600;
        }

        &__title {
            h3 {
                font-size: 21px;
                color: $text-color;
                font-weight: 600;
                margin-bottom: 10px;
            }
            p {
                @include p(17px, $text-color, start);
                font-weight: normal;
            }
        }
    }
}
